@import url('https://fonts.googleapis.com/css2?family=Baloo+Chettan+2&family=STIX+Two+Math&display=swap');
*
{
    margin: 0;
    padding: 0;
}

.navbar-brand .logo 
{
    
    height: 100px;
    margin-top: 30px;
}
.navbar-brand span{
    position: relative;
    top: 5px;
}
.navbar-brand p{
    position: relative;
    top: -2em;
    left: 10em;
    font-size: 20px;
    font-weight: normal;
}
.navbar ul{
    position: relative;
}
.navbar ul li
{
    margin-right: 30px;
}
.navbar ul li a{
    font-size: 20px;
    text-decoration: none;
    color: whitesmoke;
}
.navbar ul li a:hover{
    color: burlywood;
    transition: all 1s ease-out ;
}
.navbar .dropdown-menu
{
    border-radius: 0px;
    
}
.navbar .dropdown-menu ul{
 list-style-type: none;
}
.navbar .dropdown-menu ul li a:hover{
    background: none;
    color: burlywood;
}
/*-------------------------------------------*/
.placement-banner
{
    position: relative;
    top: 10em;
}
.placement-banner .img
{
    width: 100%;
    height: auto;
}
/*----------------------------*/
#recruiters
{ 
    position: relative;
    background: rgb(99, 25, 112);
    padding: 20px;
    top: 15em;
}
.our-recruiters
{
   position:relative;
   height: auto;
}
.our-recruiters h2{
    text-align: center;
    color: #F7F9F9 ;
    margin: 0 0 1em 0;
    font-family: Nunito;
    font-weight: bold;
    
}
.our-recruiters  .img
{  
    position: relative;
    top: 0em;
    width: 100%;
    height: 150px;
    align-items: center;
}
/*=========================*/
#testinominals-1
{ 
    position: relative;
    background: rgb(43, 6, 49);
    padding: 20px;
    top: 20em;
  
}
.testinominals-1
{
position:relative;
top: 0em;
  
}
.testinominals-1 h2{
    text-align: center;
    color: #F7F9F9 ;
    margin: 0 0 1em 0;
    font-family: Nunito;
    font-weight: bold;
    
}
.testinominals .card
{
    width: 100%;
    height: 200px;
}
.testinominals h3
{
    text-align: center;
    color: rgb(76, 10, 199);
    margin-top: 1.5em;
    
}
.testinominals p
{  
    position: relative;
    top: -1em;
    width: 100%;
    height: 300px;
    align-items: center;
    margin: 2em;
}
/*----------------------------------------*/
  /*------------------------*/
  #footer
  {
      position: relative;
      background-color: rgb(60, 60, 149);
      margin: 25em 0 2em 0;
      padding: 15px;
  }
  #footer .row .info h2
  {
    color: white;
    font-size: 20px;
    text-align: center;
  }
  #footer .row .info p{
      text-align: justify;
      color: rgb(255, 255, 255);
  }
  #footer .row  .social-icons h2
  {
      color: whitesmoke;
      text-align: center;
  }
  #footer .row  .social-icons ul{
      list-style-type: none;
      color: white;
      margin:  30px 0 0 6em;
 
  }
  #footer .row  .social-icons ul li
  {
      display: inline-block;
       /*background-color: violet;*/
       height: 50px;
       width: 50px;
       border-radius: 50%;
  }
  #footer .row  .social-icons ul li i{
     font-size: 30px;
     margin: 10px 0 0 13px;
  }
  #footer .row  .social-icons ul li i:hover
  {
    color: rgb(248, 16, 248);
    cursor: pointer;
  }
  #footer hr
  {
      background-color: rgb(11, 2, 31);
  }
  .footer2 b{
      color: white;
  }
  .footer2 p{
      margin: 0 0 0 12em;
      color: white;
      font-weight: bold;
  }
  /*==========================================================*/
  @media screen and (max-width:576px)
  {
    .navbar .dropdown-menu 
    {
        width: 0px;
        outline: none;
        background-color: transparent;
        border: 0px;
    }
 
    .navbar .dropdown-menu ul li
    {
        list-style-type: none;
        margin-left:9em;
    }
    .navbar-brand span{
        position: relative;
        top: 5px;
        font-size: 18px;
    }
    .placement-banner
    {
    position: relative;
    top: 16em;
    }
    #recruiters
    { 
    position: relative;
    background: rgb(99, 25, 112);
    padding: 20px;
    top: 18em;
    }
    .our-recruiters
    {
        padding:10px;
    }
    .testinominals-1
    {
        padding:10px;
    }
    .testinominals p
    {  
    position: relative;
    top: -1em;
    width: 100%;
    height: 300px;
    padding: 10px;
    text-align: justify;
    margin: 0 0 0 0em;
    }
      /*------------------------*/
  #footer
  {
      position: relative;
      background-color: rgb(60, 60, 149);
      margin: 23em 0 1em 0;
      padding: 15px;
  }
  #footer .row .info h2
  {
    color: white;
    font-size: 20px;
    text-align: center;
  }
  #footer .row .info p{
      text-align: justify;
      color: rgb(255, 255, 255);
      font-size:12px;
      margin: 15px;
  }
  #footer .row  .social-icons h2
  {
      color: whitesmoke;
      margin:0 0 0 40px;
  }
  #footer .row  .social-icons ul{
      list-style-type: none;
      color: white;
      margin:  10px 0 10px 11em;
 
  }
  #footer .row  .social-icons ul li
  {
       display: inline-block;
       /*background-color: violet;*/
       height: 35px;
       width: 35px;
       border-radius: 50%;
  }
  #footer .row  .social-icons ul li i{
     font-size: 20px;
     margin: 8px 0 0 10px;
  }
  #footer .row  .social-icons ul li i:hover
  {
    color: rgb(248, 16, 248);
    cursor: pointer;
  }
  #footer .row #gmap_canvas
  {
      margin: 0 0 0 3em;
  }
  #footer hr
  {
      background-color: rgb(11, 2, 31);
  }
  .footer2 b{
      color: white;
      margin: 0 0 0 5em;
  }
  .footer2 p{
      margin: 0 0 0 5em;
      color: white;
      font-weight: bold;
  }

  }
  /*================================================*/
  @media screen and (min-width:576px) and (max-width:767px)
  {
    .navbar .dropdown-menu 
    {
         width: 0px;
         outline: none;
         background-color: transparent;
         border: 0px;
    }
    .navbar-brand span{
        position: relative;
        top: 5px;
        font-size: 18px;
    }
    .navbar .dropdown-menu ul
    {
        margin: 0 0 0 0em;
    }
    .navbar .dropdown-menu ul li
    {
        list-style-type: none;
        margin-left: 12em;
    }
    .placement-banner
    {
    position: relative;
    top: 13em;
    }
    #recruiters
    { 
    position: relative;
    background: rgb(99, 25, 112);
    padding: 20px;
    top: 18em;
    }
    .our-recruiters
    {
        padding:10px;
    }
    .testinominals-1
    {
        padding:10px;
    }
    .testinominals p
    {  
    position: relative;
    top: -1em;
    width: 100%;
    height: 300px;
    padding: 10px;
    text-align: justify;
    margin: 0 0 0 0em;
    }
     /*------------------------*/
  #footer
  {
      position: relative;
      background-color: rgb(60, 60, 149);
      margin: 5em 0 3em 0;
      padding: 15px;
  }
  #footer .row .info h2
  {
    color: white;
    font-size: 20px;
    text-align: center;
  }
  #footer .row .info p{
      text-align: justify;
      color: rgb(255, 255, 255);
  }
  #footer .row  .social-icons h2
  {
      color: whitesmoke;
      text-align: center;
  }
  #footer .row  .social-icons ul{
    list-style-type: none;
    color: white;
    margin:  10px 0 10px 11em;
}
  #footer .row  .social-icons ul li
  {
       display: inline-block;
       /*background-color: violet;*/
       height: 35px;
       width: 35px;
       border-radius: 50%;
       margin:  0 20px 0 0 ;
  }
  #footer .row  .social-icons ul li i{
     font-size: 20px;
     margin: 8px 0 0 10px;
  }
  #footer .row  .social-icons ul li i:hover
  {
    color: rgb(248, 16, 248);
    cursor: pointer;
  }
  #footer .row #gmap_canvas
  {
      margin: 0 0 0 6em;
  }
  #footer hr
  {
      background-color: rgb(11, 2, 31);
  }
  .footer2 b{
      color: white;
      margin: 0 0 0 7em;
  }
  .footer2 p{
      margin: 0 0 0 7em;
      color: white;
      font-weight: bold;
  }
  }
/*==========================================*/
@media screen and (min-width:767px) and (max-width:996px)
{
    .navbar .dropdown-menu 
    {
         width: 0px;
         outline: none;
         background-color: transparent;
         border: 0px;
    }
 
    .navbar .dropdown-menu ul
    {
        margin: 0 0 0 0em;
    }
    .navbar .dropdown-menu ul li
    {
        list-style-type: none;
        margin-left: 18em;
    }
    /*-----------------------------------*/
    .placement-banner
    {
    position: relative;
    top: 13em;
    }
     /*------------------------*/
  #footer
  {
      position: relative;
      background-color: rgb(60, 60, 149);
      margin: 25em 0 3em 0;
      padding: 15px;
  }
  #footer .row .info h2
  {
    margin: 3em 0 0 0;
    color: white;
    font-size: 15px;
    text-align: center;
  }
  #footer .row .info p{
      margin: 2em 0 0 0;
      text-align: justify;
      color: rgb(255, 255, 255);
  }
  #footer .row  .social-icons h2
  {  
      margin: 3em 0 0 0;
      color: whitesmoke;
      text-align: center;
      font-size: 15px;
  }
  #footer .row  .social-icons ul{
      list-style-type: none;
      color: white;
      margin:  10px 0 10px 3em;
  }
  #footer .row  .social-icons ul li
  {
      display: inline-block;
       /*background-color: violet;*/
       height: 30px;
       width: 30px;
       border-radius: 50%;
  }
  #footer .row  .social-icons ul li i{
     font-size: 20px;
     margin: 6px 0 0 7px;
  }
  #footer .row  .social-icons ul li i:hover
  {
    color: rgb(248, 16, 248);
    cursor: pointer;
  }
  #footer .row #gmap_canvas
  {
      margin: 5em 0 0 -3.5em;
      width: 300px;
      height: 250px;
  }
  #footer hr
  {
      background-color: rgb(11, 2, 31);
  }
  .footer2 b{
      color: white;
      margin: 0 0 0 3em;
  }
  .footer2 p{
      margin: 0 0 0 1em;
      color: white;
      font-weight: bold;
  }
}